{% extends "base.html" %}
{% from 'widgets.html' import select, checkbox %}

{% block content %}
<form method="POST">
    <p>
        Name:<br>
        <input type="text" name="name" value="{{ form.name }}">
        {{ select('type', form.type, env.acc_types) }}
    </p>
    <p>Parent:<br>{{ select('parent', form.parent, env.account_list(form.aid, True)) }}</p>
    <p><textarea placeholder="description" name="desc">{{ form.desc or ''}}</textarea></p>
    <p>{{ checkbox('is_placeholder', form.is_placeholder, id="is_placeholder") }}
       <label for="is_placeholder">Placeholder account</label></p>
    <button type="submit">Save</button>
    {% if form.aid %}
    <button formaction="{{ url_for('account_delete', aid=form.aid) }}"
            onclick="return confirm('Delete?')"
            type="sumbit">Delete</button>
    <p>
        <a href="{{ url_for('account_edit', parent=form.aid) }}">Add subaccount</a>
    </p>
    {% endif %}
  </form>
</form>
{% endblock %}
