{% extends "base.html" %}

{% macro cur_table_header(cur_list) %}
{% if cur_list | length <= 3 %}
    <tr><th></th>{% for cur in cur_list %}<th class="tright cur"><span class="cur">{{ cur }}</span></th>{% endfor %}</tr>
{% endif %}
{% endmacro %}

{% macro cur_table_row(cur_list, total) %}
{% if cur_list | length <= 3 %}
    <tr>
        <td>{{ caller() }}</td>
        {% for cur in cur_list %}
            <td class="tright amount"><nobr>{{ fmt_num(total[cur]) | safe }}</nobr></td>
        {% endfor %}
    </tr>
{% else %}
    {% for cur in env.sorted_curs(total) %}
        <tr>
            <td>{{ caller() if loop.index == 1 else '' }}</td>
            <td class="tright amount"><nobr>{{ fmt_num(total[cur]) | safe }}</nobr>&nbsp;<span class="cur">{{ cur }}</span></td>
        </tr>
    {% else %}
        <tr>
            <td>{{ caller() }}</td>
        </tr>
    {% endfor %}
{% endif %}
{% endmacro %}

{% block content %}
<script>
    function today_selector_data() {
        return {
            today: {{ today_str | tojson }},
            init() {
                this.$watch('today', value => {
                    let params = new URLSearchParams(window.location.search)
                    params.set('today', value)
                    this.$nextTick(() => window.location.search = params)
                })
            }
        }
    }
</script>

{% if account %}
{% set hlpos = account.type in 'qa' %}
{% set hlneg = account.type in 'iel' %}
<div x-data="{opened: false}">
  <a href="{{ url_for('account_view') }}">Root</a>:{% for p in account.parents %}<a href="{{ url_for('account_view', aid=p) }}">{{ env.amap[p].name }}</a>:{% endfor %}<a href="{{ url_for('account_edit', aid=account.aid) }}">{{ account.name }}</a>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div>
      <input type="month" x-data="today_selector_data" x-model="today" />
  </div>

  {% set cur_list = env.sorted_curs(env.total(account.aid)) %}
  {% if cur_list %}
  <table class="w-100">
    {{ cur_table_header(cur_list) }}
    {% if account.is_sheet %}
      {% if env.current[account.aid].total %}
          {% call cur_table_row(cur_list, env.current[account.aid].total) %}<span @click.prevent="opened = !opened">Balance</span>{% endcall %}
      {% endif %}
    {% else %}
      {% if env.month[account.aid].total %}
          {% call cur_table_row(cur_list, env.month[account.aid].total) %}This month{% endcall %}
      {% endif %}
    {% endif %}
  </table>
  {% endif %}

  {% if account.is_sheet %}
      {% set full_cur_list = env.sorted_curs(merge(env.prev[account.aid].total, env.month[account.aid].total2)) %}
      {% if full_cur_list %}
      <table x-cloak x-show="opened" class="w-100">
          {% if  full_cur_list != cur_list %}
              {{ cur_table_header(full_cur_list) }}
          {% endif %}
          {% if env.prev[account.aid].total %}
              {% call cur_table_row(full_cur_list, env.prev[account.aid].total) %}Month start{% endcall %}
          {% endif %}
          {% call cur_table_row(full_cur_list, env.month[account.aid].debit) %}In{% endcall %}
          {% call cur_table_row(full_cur_list, env.month[account.aid].credit) %}Out{% endcall %}
      </table>
      {% endif %}
  {% endif %}
</div>
{% else %}
  {% set cur_list = env.top_sorted_curs() %}
{% endif %}

{% if not account %}
<a href="{{ url_for('settings')}}">Settings</a>
{% endif %}

{% if accounts %}
<hr>
<table style="width:100%">
    {{ cur_table_header(cur_list) }}
    {% for it in accounts %}
        {% if cur_list | length > 3 and loop.index0 %}
            <tr><td><v-gap class="gap-s"></v-gap></td></tr>
        {% endif %}
        {% call cur_table_row(cur_list, env.total(it.aid)) %}
            <a href="{{ url_for('account_view', aid=it.aid, today=today_str) }}">{{ it.name }}</a>
        {% endcall %}
    {% endfor %}
</table>
{% endif %}

{% if account  %}
<hr>
<div>
    <a href="{{ url_for('transaction_edit', dest=account.aid) }}">Add transaction</a>
    | <a href="{{ url_for('transaction_edit', dest=account.aid, split=1) }}">Add split</a>
    {% if account.aid in env.joint_accounts %}
    | <a href="{{ url_for('transaction_edit', dest=account.aid + '.joint') }}">Joint</a>
    {% endif %}
</div>

<v-gap class="gap-l"></v-gap>

<v-stack class="gap-xl" id="transaction-list">
{% for gdt, tlist in transactions %}
    <div>
        <div class="transaction-date">{{ gdt.strftime('%a %d %B') if gdt.year == today.year else gdt.strftime('%d %B %Y') }}</div>
        <v-stack>
            {% for it in tlist %}
            <div class="card transaction-item">
                <table id="t-{{ it.tid }}" data-href="{{ url_for('transaction_edit', tid=it.tid, dest=account.aid) }}">
                    {% if it.desc %}
                        <tr {{ {'class': [None, 'transaction-header'][it.split]} | xmlattr}} >
                            <td colspan="2">{{ it.desc }}</td>
                        </tr>
                    {% endif %}
                    {% if it.split %}
                        {% for op_acc, op_amnt, op_cur in it.ops %}
                        <tr>
                            <td>{{ env.amap[op_acc].full_name }}</td>
                            <td class="tright"><span class="{{ "good-amount" if (op_acc == account.aid) and ((hlpos and op_amnt > 0) or (hlneg and op_amnt < 0)) else '' }}">{{ '%.2f' % op_amnt }}</span>&nbsp;<span class="cur">{{ op_cur }}</span></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>{{ env.amap[it.src].full_name }}</td>
                            <td class="tright"><span class="{{ "good-amount" if (hlpos and it.amount > 0) or (hlneg and it.amount < 0) else '' }}">{{ '%.2f' % it.amount }}</span>&nbsp;<span class="cur">{{ it.cur }}</span></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            {% endfor %}
        </v-stack>
    </div>
{% endfor %}
</v-stack>
{% endif %}

<script>
const container = document.querySelector('#transaction-list');

container.addEventListener('click', event => {
  const target = event.target.closest('[data-href]');
  if (target) {
    window.location.href = target.dataset.href;
  }
});
</script>

{% endblock %}
