{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}
<v-stack>
    <form method="POST" enctype="multipart/form-data" class="pure-form">
        <fieldset>
            <legend>GNUCash</legend>
            <v-stack>
                <input type="file" name="gnucash" accept=".gnca" />
                <div>
                    <button type="submit" class="pure-button pure-button-primary">Import</button>
                </div>
            </v-stack>
        </fieldset>
    </form>

    <form method="POST" action="./monzo" enctype="multipart/form-data" class="pure-form">
        <fieldset>
            <legend>Monzo</legend>
            <v-stack>
                <div>
                    {{ select_group('src', '---', env.account_groups) }}
                </div>
                <input type="file" name="monzo" accept=".csv" />
                <div>
                    <button type="submit" class="pure-button pure-button-primary">Import</button>
                </div>
            </v-stack>
        </fieldset>
    </form>
</v-stack>
{% endblock %}
