{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}
<style>
    .card.ignored {
        background: #EEE;
    }
    .card.ok {
        background: #EFE;
    }
</style>

<script>
function tran_form() {
    return {
        'transactions': {{ transactions | tojson }},
        'src': '',
        'balance': {{ balance | tojson }},
        'error': null,
        total() {
            let result = 0;
            for(const it of this.transactions) {
                if (!it.state) {
                    result += it.amount;
                }
            }
            return result;
        },
        ignore(idx) {
            this.transactions[idx].state = 'seen';
        },
        include(idx) {
            this.transactions[idx].state = null;
        },
        setSimilar(idx) {
            const other = this.transactions[idx];
            for(let i=0; i<this.transactions.length; i++) {
                const tr = this.transactions[i];
                if (idx == i) {
                    continue;
                }
                if (tr.key && tr.key == other.key) {
                    tr.dest = other.dest;
                    tr.desc = other.desc;
                }
            }
        },
        handleSubmit(event) {
            this.error = null;
            if (this.transactions.some(it => !it.state && !it.dest)) {
                this.error = 'All transactions should be with destination or marked as seen'
                event.preventDefault()
                return
            }
            this.$refs.transactions.value = JSON.stringify(this.transactions)
        }
    }
}
</script>

<form method="POST" x-data="tran_form" action="{{ url_for('import_transactions_apply') }}" @submit="handleSubmit" class="pure-form">
    <input name="src" x-ref="transactions" value="{{ src }}" hidden />
    <input name="transactions" x-ref="transactions" hidden />
    <p>
        Account: {{ env.account_title(src) }}<br>
        Balance: <span x-text="balance.GBP.toFixed(2)"></span> + <span x-text="total().toFixed(2)"></span> = <span x-text="(balance.GBP + total()).toFixed(2)"></span>
    </p>

    <template x-if="error"><p x-text="error"></p></template>

    <p>
        <button type='submit' class="pure-button pure-button-primary">Import</button>
    </p>

    <v-stack>
        <template x-for="(it, idx) in transactions" :key="idx">
        <div :class="{'card': true, 'ignored': it.state, 'ok': !it.state && it.dest}">
            <table>
                <tr>
                    <td x-text="it.type"></td>
                    <td class="tright">
                        <span class="date" x-text="it.date_str"></span>
                    </td>
                </tr>
                <tr>
                    <td x-text="it.name"></td>
                    <td class="tright"><span x-text="it.amount.toFixed(2)"></span>&nbsp;<span class="cur" x-text="it.cur"></span></td>
                </tr>
                <tr><td colspan=2 x-text="it.category"></td></tr>
                <tr><td colspan=2>
                    {{ select_group('dest', '---', env.account_groups, **{'x-model': "it.dest"}) }}
                </td></tr>
                <tr><td colspan=2>
                    <input type="text" x-model="it.desc" name="desc" />
                </td></tr>
                <tr>
                    <td><button @click.prevent="setSimilar(idx)" class="pure-button button-secondary">Set similar</button></td>
                    <td class="tright">
                        <template x-if="!it.state">
                            <button @click.prevent="ignore(idx)" class="pure-button button-secondary">Ignore</button> #}
                        </template>
                        <template x-if="it.state">
                            <button @click.prevent="include(idx)" class="pure-button button-secondary">Include</button>
                        </template>
                    </td>
                </tr>
            </table>
        </div>
        </template>
    </v-stack>
</form>
{% endblock %}
