{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% set dest_options = [('Custom', [('joint-me', 'Joint from me', False)])] + env.account_groups %}

{% block content %}
<style>
    .transaction-item.ignored {
        background: #EEE;
    }
    .transaction-item.ok {
        background: #EFE;
    }
</style>

<script>
function tran_form() {
    return {
        'transactions': {{ transactions | tojson }},
        'src': '',
        'balance': {{ balance | tojson }},
        'error': null,
        total() {
            let result = 0;
            for(const it of this.transactions) {
                if (!it.ignore) {
                    result += it.amount;
                }
            }
            return result;
        },
        ignore(idx) {
            this.transactions[idx].ignore = true;
        },
        include(idx) {
            this.transactions[idx].ignore = false;
        },
        setSimilar(idx) {
            const other = this.transactions[idx];
            for(let i=0; i<this.transactions.length; i++) {
                const tr = this.transactions[i];
                if (idx == i) {
                    continue;
                }
                if (tr.key && tr.key == other.key) {
                    tr.dest = other.dest;
                    tr.desc = other.desc;
                }
            }
        },
        handleSubmit(event) {
            this.error = null;
            if (this.transactions.some(it => !it.ignore && !it.dest)) {
                this.error = 'All transactions should be with destination or marked as ignored'
                event.preventDefault()
                return
            }
            const transactions = this.transactions.filter(it => !it.ignore)
            this.$refs.transactions.value = JSON.stringify(transactions)
        }
    }
}
</script>

<form method="POST" x-data="tran_form" action="{{ url_for('import_transactions_apply') }}" @submit="handleSubmit">
    <input name="src" x-ref="transactions" value="{{ src }}" hidden />
    <input name="transactions" x-ref="transactions" hidden />
    <p>
        Account: {{ env.amap[src].full_name }}<br>
        Balance: <span x-text="balance.GBP"></span> + <span x-text="total()"></span> = <span x-text="balance.GBP + total()"></span>
    </p>

    <template x-if="error"><p x-text="error"></p></template>

    <p>
        <button type='submit'>Import</button>
    </p>

    <div class="transaction-list">
        <template x-for="(it, idx) in transactions" :key="idx">
        <div :class="{'transaction-item': true, 'ignored': it.ignore, 'ok': !it.ignore && it.dest}">
            <table>
                <tr>
                    <td x-text="it.type"></td>
                    <td class="tright">
                        <span class="date" x-text="it.date_str"></span>
                    </td>
                </tr>
                <tr>
                    <td x-text="it.name"></td>
                    <td class="tright"><span x-text="it.amount.toFixed(2)"></span>&nbsp;<span class="cur" x-text="it.cur"></span></td>
                </tr>
                <tr><td colspan=2 x-text="it.category"></td></tr>
                <tr><td colspan=2>
                    {{ select_group('dest', '---', dest_options, **{'x-model': "it.dest"}) }}
                </td></tr>
                <tr><td colspan=2>
                    <input type="text" x-model="it.desc" name="desc" />
                </td></tr>
                <tr>
                    <td><button @click.prevent="setSimilar(idx)">Set similar</button></td>
                    <td class="tright">
                        <template x-if="!it.ignore">
                            <button @click.prevent="ignore(idx)">Ignore</button> #}
                        </template>
                        <template x-if="it.ignore">
                            <button @click.prevent="include(idx)">Include</button>
                        </template>
                    </td>
                </tr>
            </table>
        </div>
        </template>
    </div>
</form>
{% endblock %}
