{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}
<style>
    .card.ignored {
        background: #EEE;
    }
    .card.ok {
        background: #EFE;
    }

    form-aligned {
        align-items: center;
        line-height: 100%;
    }

    .card {
       padding: 0.4em;
    }
</style>

<form method="POST" data-preact="ImportForm" action="{{ url_for('import_transactions_apply') }}" class="pure-form"></form>

<template id="accountSelector">
    {{ select_group('some', '---', env.account_groups) }}
</template>

<script type="module">
    import {init, initPreactData} from '{{ hash_url('import_transactions.js') }}';

    init({{ transactions | tojson }})

    initPreactData({ImportForm: {
        balance: {{ balance | tojson }},
        src: {{ src | tojson }},
        name: {{ env.account_title(src) | tojson }},
    }})
</script>

{% endblock %}
