{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}
<script>
function favs_form() {
    return {
        'ids': {{ fav_ids | tojson }},
        add() {
            this.ids.push('')
        },
        remove(idx){
            if (confirm('Delete?')) {
                this.ids.splice(idx, 1)
            }
        }
    }
}
</script>

<div>
    <a href="{{ url_for('account_view') }}">Back</a>
    | <a href="{{ url_for('account_edit') }}">Add subaccount</a>
    | <a href="{{ url_for('import_data') }}">Import data</a>
</div>

<v-stack class="gap-s">
    <form method="POST" action="./favs" x-data="favs_form" class="pure-form">
        <fieldset>
            <legend>Favorites</legend>
            <v-stack>
                <template x-for="(it, idx) in ids" :key="idx">
                    <div>
                        {{ select_group('acc', '---', env.account_groups, **{'x-model': "ids[idx]"}) }}
                        <button @click.prevent="remove(idx)" class="pure-button">&#x2716;</button>
                    </div>
                </template>
                <div>
                    <button @click.prevent="add" class="pure-button">Add</button>
                    <button type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </v-stack>
        </fieldset>
    </form>

    <form method="POST" action="./joint-accounts" data-preact="jointForm" class="pure-form"></form>

    <form method="POST" action="./cur-list" class="pure-form">
        <fieldset>
            <legend>Currencies</legend>
            <v-stack>
                <textarea name="cur_list" rows="{{ ((cur_list | length) + 2, 3) | max }}"
                    >{{ cur_list | join('\n') }}</textarea>
                <div>
                    <button type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </v-stack>
        </fieldset>
    </form>

    <form method="POST" action="./backup" class="pure-form">
        <fieldset>
            <legend>Backup</legend>
            <button type="submit" class="pure-button pure-button-primary">Share database</button>
        </fieldset>
    </form>
</v-stack>

<div id="accountSelector" style="display: none">
    {{ select_group('some', '---', env.account_groups) }}
</div>

<script type="module">
    import {hh as h, render, signal, computed, cloneElement, effect,
            initPreactData, registerPreactData, batch, deleteIdxSignal,
            node2component, idify, fieldModel, preventDefault,
            pushSignal} from '/static/js/preact-all.js';

    function wrapJointItem(item) {
        return {
            ...item,
            parent: signal(item.parent),
            clear: signal(item.clear),
            joints: signal(item.joints.map(signal)),
            assets: signal(item.assets.map(signal)),
        }
    }

    const joints = signal(idify({{ joints | tojson }}).map(wrapJointItem))
    const fdata_raw = computed(() => JSON.stringify(joints))

    {# effect(() => console.log(fdata_raw.value)) #}

    function add() {
        pushSignal(joints, wrapJointItem(
            {id: crypto.randomUUID(), parent: '', joints: ['', ''], assets:[''], clear: ''}))
    }

    function add_party(item) {
        batch(() => {
            pushSignal(item.joints, signal(''))
            pushSignal(item.assets, signal(''))
        })
    }

    function remove_party(item, pidx) {
        batch(() => {
            deleteIdxSignal(item.joints, pidx+1)
            deleteIdxSignal(item.assets, pidx)
        })
    }

    function jointForm() {
        function partyFrag(card, pidx) {
            return [
                h('div'),
                h('label', `Party ${pidx + 1}`),
                h('button.pure-button', {onClick: preventDefault(() => remove_party(card, pidx))}, 'Remove party'),
                h('label', 'Joint'),
                cloneElement(accountSelector, {name: 'joint-other', ...fieldModel(card.joints.value[pidx+1])}),
                h('label', 'Asset'),
                cloneElement(accountSelector, {name: 'asset-other', ...fieldModel(card.assets.value[pidx])}),
            ]
        }

        function jointCard({card, onDelete}) {
            return h('div.card', {style: {padding: '0.6rem'}},
                h('v-stack',
                    h('form-aligned',
                        h('label', 'Main'),
                        cloneElement(accountSelector, {name: 'main', ...fieldModel(card.parent)}),
                        h('label', 'Me'),
                        cloneElement(accountSelector, {name: 'me', ...fieldModel(card.joints.value[0])}),
                        h('label', 'Clear'),
                        cloneElement(accountSelector, {name: 'clear', ...fieldModel(card.clear)}),
                        card.assets.value.map((_, pidx) => partyFrag(card, pidx)),
                    ),
                    h('div',
                        h('button.pure-button', {onClick: preventDefault(() => add_party(card))}, 'Add Party'),
                        ' ',
                        h('button.pure-button', {onClick: preventDefault(onDelete)}, 'Remove Joint'),
                    )
                )
            )
        }

        function JointList({joints}) {
            return joints.value.map((card, idx) => h(jointCard, {
                key: card.id, card, onDelete: () => deleteIdxSignal(joints, idx)}))
        }

        return [
            h('fieldset',
                h('legend', 'Joint accounts'),
                h('input', {name: 'data', hidden: true, value: fdata_raw}),
                h('v-stack',
                    h(JointList, {joints}),
                    h('div',
                        h('button.pure-button', {'onClick': preventDefault(add)}, 'Add Joint'),
                        ' ',
                        h('button.pure-button.pure-button-primary', {'type': 'submit'}, 'Save'),
                    )
                )
            )
        ]
    }

    const accountSelector = node2component(document.querySelector('#accountSelector select'))

    registerPreactData(jointForm)
    initPreactData()
</script>

{% endblock %}
