{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}
<script>
function favs_form() {
    return {
        'ids': {{ fav_ids | tojson }},
        add() {
            this.ids.push('')
        },
        remove(idx){
            if (confirm('Delete?')) {
                this.ids.splice(idx, 1)
            }
        }
    }
}
</script>

<div>
    <a href="{{ url_for('account_view') }}">Back</a>
    | <a href="{{ url_for('account_edit') }}">Add subaccount</a>
    | <a href="{{ url_for('import_data') }}">Import data</a>
</div>

<v-stack class="gap-s">
    <form method="POST" action="./favs" x-data="favs_form" class="pure-form">
        <fieldset>
            <legend>Favorites</legend>
            <v-stack>
                <template x-for="(it, idx) in ids" :key="idx">
                    <div>
                        {{ select_group('acc', '---', env.account_groups, **{'x-model': "ids[idx]"}) }}
                        <button @click.prevent="remove(idx)" class="pure-button">&#x2716;</button>
                    </div>
                </template>
                <div>
                    <button @click.prevent="add" class="pure-button">Add</button>
                    <button type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </v-stack>
        </fieldset>
    </form>

    <form method="POST" action="./joint-accounts" data-preact="jointForm" class="pure-form"></form>

    <form method="POST" action="./cur-list" class="pure-form">
        <fieldset>
            <legend>Currencies</legend>
            <v-stack>
                <textarea name="cur_list" rows="{{ ((cur_list | length) + 2, 3) | max }}"
                    >{{ cur_list | join('\n') }}</textarea>
                <div>
                    <button type="submit" class="pure-button pure-button-primary">Save</button>
                </div>
            </v-stack>
        </fieldset>
    </form>

    <form method="POST" action="./backup" class="pure-form">
        <fieldset>
            <legend>Backup</legend>
            <button type="submit" class="pure-button pure-button-primary">Share database</button>
        </fieldset>
    </form>
</v-stack>

<div id="accountSelector" style="display: none">
    {{ select_group('some', '---', env.account_groups) }}
</div>

<script type="module">
    import { hh as h, render, signal, computed, cloneElement,
            initPreactData, registerPreactData,
            node2component, idify} from '/static/js/preact-all.js';

    function aflt(it, attrs) {
        return true
    }

    function preventDefault(fn) {
        return (e) => {
            e.preventDefault()
            fn()
        }
    }

    const joints = signal(idify({{ joints | tojson }}))
    const fdata_raw = computed(() => JSON.stringify(joints.value))

    function add() {
        joints.value = [...joints.value, {id: crypto.randomUUID(), parent: '', joints: ['', ''], assets:[''], clear: ''}]
    }

    function add_party(idx) {
        joints.value[idx].joints.push('')
        joints.value[idx].assets.push('')
        joints.value = joints.value.slice()
    }

    function remove_party(idx, pidx) {
        joints.value[idx].joints.splice(pidx+1, 1)
        joints.value[idx].assets.splice(pidx, 1)
        joints.value = joints.value.slice()
    }

    function remove(idx) {
        const v = joints.value.slice()
        v.splice(idx, 1)
        joints.value = v
    }

    function update_value(fn) {
        return (e) => {
            const value = e.currentTarget.value;
            fn(value);
            joints.value = joints.value.slice();
        }
    }

    function jointForm() {
        function partyFrag(it, idx, pidx) {
            return [
                h('div'),
                h('label', `Party ${pidx + 1}`),
                h('button.pure-button', {onClick: preventDefault(() => remove_party(idx, pidx))}, 'Remove party'),
                h('label', 'Joint'),
                cloneElement(accountSelector, {name: 'joint-other', value: it.joints[pidx+1],
                                               onInput: update_value((v) => it.joints[pidx+1] = v)}),
                h('label', 'Asset'),
                cloneElement(accountSelector, {name: 'asset-other', value: it.assets[pidx],
                                               onInput: update_value((v) => it.assets[pidx] = v)}),
            ]
        }

        function jointCard(props) {
            const {it, idx} = props
            return h('div.card', {style: {padding: '0.6rem'}},
                h('v-stack',
                    h('form-aligned',
                        h('label', 'Main'),
                        cloneElement(accountSelector, {name: 'main', value: it.parent,
                                                       onInput: update_value((v) => it.parent = v)}),
                        h('label', 'Me'),
                        cloneElement(accountSelector, {name: 'me', value: it.joints[0],
                                                       onInput: update_value((v) => it.joints[0] = v)}),
                        h('label', 'Clear'),
                        cloneElement(accountSelector, {name: 'clear', value: it.clear,
                                                       onInput: update_value((v) => it.clear = v)}),
                        it.assets.map((_, pidx) => partyFrag(it, idx, pidx)),
                    ),
                    h('div',
                        h('button.pure-button', {onClick: preventDefault(() => add_party(idx))}, 'Add Party'),
                        ' ',
                        h('button.pure-button', {onClick: preventDefault(() => remove(idx))}, 'Remove Joint'),
                    )
                )
            )
        }

        return [
            h('fieldset',
                h('legend', 'Joint accounts'),
                h('input', {name: 'data', hidden: true, value: fdata_raw}),
                h('v-stack',
                    joints.value.map((it, idx) => h(jointCard, {it, idx, key:it.id})),
                    h('div',
                        h('button.pure-button', {'onClick': preventDefault(add)}, 'Add Joint'),
                        ' ',
                        h('button.pure-button.pure-button-primary', {'type': 'submit'}, 'Save'),
                    )
                )
            )
        ]
    }

    const accountSelector = node2component(document.querySelector('#accountSelector select'))

    registerPreactData(jointForm)
    initPreactData()
</script>

{% endblock %}
