{% macro select(name, value, options) %}
<select name="{{ name }}" {{ kwargs | xmlattr }}>
    {% for opt in options %}
    <option value="{{ opt.value }}" {% if opt.value == value %}selected{% endif %}>{{ opt.title }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro select_group(name, value, options) %}
<select name="{{ name }}" {{ kwargs | xmlattr }}>
    {% if value == '---' %}
        <option value="">---</option>
    {% endif %}
    {% for gtitle, group in options %}
    <optgroup label="{{ gtitle }}">
        {%- for ovalue, otitle, ohidden in group %}
        <option value="{{ ovalue }}"
                {%- if ovalue == value %} selected{% endif -%}
                {%- if ohidden %} hidden{% endif -%}>{{ otitle }}</option>
        {%- endfor %}
    </optgroup>
    {% endfor %}
</select>
{% endmacro %}

{% macro checkbox(name, value) %}
<input type="checkbox" name="{{ name }}"{% if value %}checked{% endif %} {{ kwargs | xmlattr }}>
{% endmacro %}

{% macro select_cur(name, value, options) %}
<select name="{{ name }}" {{ kwargs | xmlattr }}>
    {% for opt in options %}
    <option value="{{ opt }}" {% if opt == value %}selected{% endif %}>{{ opt }}</option>
    {% endfor %}
<select>
{% endmacro %}
