@import 'tailwindcss';
@plugin "daisyui" {
    exclude: properties;
}

html {
    @apply bg-base-300;
}

.content {
    padding: 5px;
    max-width: 23rem;
    margin: 0 auto;
}

span.delim {
    width: 0.15em;
    display: inline-block;
}

.small-caps {
    font-variant-caps: small-caps;
}
