{% extends 'base.html' %}
{% from 'widgets.html' import select_group %}

{% block content %}

{% if not split %}
<div>
    <a href="{{ url_for('transaction_edit', tid=form.tid, dest=form.dest, split=1) }}">Split</a>
</div>
{% endif %}

<template id="accountSelector">
    {{ select_group('some', '_', env.account_groups) }}
</template>

<form data-preact="AccountEdit" method="POST" class="pure-form"></form>

<script type="module">
    import {initPreactData} from '/static/js/transaction_edit.js'
    initPreactData({AccountEdit: {
        form: {{ form | tojson }},
        accountTitle: {{ env.account_title(form.dest) | tojson }},
        curList: {{ cur_list | tojson }},
        dateStr: {{ form.date.strftime('%Y-%m-%d') | tojson }},
        timeStr: {{ form.date.strftime('%H:%M:%S') | tojson }},
        split: {{ split | tojson }},
        defaultAccount: {{ env.account_groups[0][1][0][0] | tojson }},
    }})
</script>

{% endblock %}
