{% extends 'base.html' %}
{% from 'widgets.html' import select_group, curlist %}

{% block content %}
{{ curlist() }}
<form method="POST">
    <p>From:<br>{{ select_group('src', form.src, env.account_groups, tabindex='3') }}<p>
    <p>To: {{ env.amap[form.dest].full_name }}</p>
    <p><input type="text" placeholder="amount" inputmode="decimal" name="amount"
              x-data="{}" @input="neg_input($event.target)"
              autofocus tabindex=1 value="{{ form.amount }}" size="8em" autocomplete="off">
       <input name="cur" tabindex=0 value="{{ form.cur }}" size="4em" list="curlist"></p>
    <p><textarea placeholder="description" name="desc" tabindex=2>{{ form.desc or ''}}</textarea></p>
    <p><input type="date" tabindex=4 name="date" value="{{ form.date }}">
       <input type="hidden" name="date_time" value="{{ form.date_time }}"></p>
    <p>
        <button type="submit">Save</button>
        {% if form.tid %}
            <button name="action" value="delete" type="submit">Delete</button>
            <button name="action" value="copy-now" type="submit">Copy Now</button>
            <button name="action" value="copy" type="submit">Copy</button>
            <a href="{{ url_for('transaction_edit', tid=form.tid, dest=form.dest, split=1) }}">Split</a>
        {% endif %}
    </p>
</form>
{% endblock %}
