{% extends 'base.html' %}
{% from 'widgets.html' import select_group, curlist %}

{% block content %}
<script>
function split_form() {
    return {
        'ops': {{ form.ops | tojson }},
        add_op() {
            this.ops.push(['', 0, 'GBP'])
        },
        total() {
            var result = 0
            for(var op of this.ops){
                result += op[1]
            }
            return result
        },
        same_cur() {
            var result = {}
            for(var op of this.ops){
                result[op[2]] = 1
            }
            return Object.keys(result).length == 1
        },
        fix_amount(idx) {
            this.ops[idx][1] -= this.total()
        },
        remove(idx){
            if (confirm('Delete?')) {
                this.ops.splice(idx, 1)
            }
        }
    }
}
</script>

{{ curlist() }}

<form method="POST" x-data="split_form" action="{{ url_for('transaction_split_save', tid=form.tid, dest=form.dest) }}">
    <template x-for="(op, idx) in ops" :key="idx">
    <p>
        {{ select_group('acc', '', env.account_groups, **{'x-model': "op[0]"}) }}
        <input type="text" placeholder="amount" inputmode="decimal" name="amount"
               @input="neg_input($event.target)"
               x-model.number="op[1]" size="8em" autocomplete="off">
        <input name="cur" x-model="op[2]" size="4em" list="curlist">
        <button @click.prevent="fix_amount(idx)">Fix</button>
        <button @click.prevent="remove(idx)">Remove</button>
    </p>
    </template>
    <p>
        <button @click.prevent="add_op">Add</button><span x-show="same_cur">&nbsp;Total: <span x-text="total"></span></span>
    </p>
    <p><textarea placeholder="description" name="desc">{{ form.desc or ''}}</textarea></p>
    <p><input type="date" name="date" value="{{ form.date.strftime('%Y-%m-%d') }}">
       <input type="hidden" name="date_time" value="{{ form.date.strftime('%H:%M') }}"></p>
    <p>
        <button type="submit">Save</button>
        {% if form.tid %}
            <button name="action" value="delete" type="submit">Delete</button>
            <button name="action" value="copy-now" type="submit">Copy Now</button>
            <button name="action" value="copy" type="submit">Copy</button>
        {% endif %}
    </p>
</form>
{% endblock %}
